{% extends 'base.html' %}
{% block 'section1' %}
    <div style="margin: 0% 35% 0% 32%; text-align: center;">
        {% include 'messages.html' %}
    </div>
    <br>
{% load crispy_forms_tags %}
    <div class="card text-bg-dark" style="margin: 0% 35% 0% 35%; padding: 2%;">
 
        <form action="/login/" method='POST'>
            <h1>Login</h1>
            {% csrf_token %}
            {{login.username | as_crispy_field}}
            <br>
            {{login.password | as_crispy_field}}
            <br>
            <button class="btn btn-outline-primary "type="submit">Login</button>
        </form>
    </div>
{% endblock 'section1' %}